.gameCondition {
  background-color: "grey";
  height: "100vh";
  width: "100%";
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
}

h3 {
  color: rgb(13, 65, 114);
}
.customStyleBox {
  border-radius: 1px;
}

#pilih-gender-frame {
}

#pg-title {
}

#pg-visual {
}

.gambar-karakter {
  width: 200px;
  height: 350px;
}

.switchLeft {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid rgb(13, 65, 114);
  border-bottom: 25px solid transparent;
}

.switchRight {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid rgb(13, 65, 114);
  border-bottom: 25px solid transparent;
}

#login-frame {
}

/* #choose-character {
  background-color: blue;
  width: 50%;
} */

#login-form {
}

#login-form form {
}

#login-form form img {
}

#login-form form input[type="text"] {
}

/* #login-form form button[type="submit"] {
  background-color: red;
  height: 3rem;
  width: 12rem;
} */

#login-form form select {
}

#login-form form select option {
}

.btnHover {
}

.btnHover:hover {
}
